{% include "common/head.html" %}
  <body class="">

    {% include "common/menu.html" %}

    <div class="container">
      <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading counter">Please sign in</h2>
        <h3 class="form-signin-heading" style="color:red;">{{ error }}</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control ourbutton" placeholder="Mobile Or Email address" required autofocus name="emailormobile">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="pass">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" class="ourbutton"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="#" id="ghfghf" class="ourbutton">Link To Button</a>
      </form>

    </div> <!-- /container -->
{% include "common/foot.html" %}
