{% include "common/head.html" %}
  <body>

    {% include "common/menu.html" %}

    <div class="container">

      <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="name" class="form-control" placeholder="Full Name" required autofocus style="margin-bottom:6px" name="name">
        <input type="text" id="mobile" class="form-control" placeholder="Mobile No" required autofocus style="margin-bottom:6px" name="mobile">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus style="margin-bottom:6px" name="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="pass1">
        <input type="password" id="reppass" class="form-control" placeholder="Confirm Password" required name="pass2">
        <input type="text" name="city" id="city" class="form-control" placeholder="City">
        <select name="country" id="country" class="form-control">
          <option value="">Select Country</option>
          <option value="1">India</option>
          <option value="2">USA</option>
          <option value="3">UK</option>
        </select>
        <select name="state" id="state" class="form-control">
          <option value="">Select State</option>
          <option value="1">Uttar Pradesh</option>
          <option value="2">Delhi</option>
          <option value="3">Madhya Pradesh</option>
        </select>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>

    </div> <!-- /container -->
{% include "common/foot.html" %}
